body{
    background-color: gray;
    font-family: 'Special Elite', cursive;
}
h1{ 
    color:black;
    font-size: 80px;
    text-shadow: 1px 1px 1px purple;
    padding: 20px 20px 20px 20px;
    font-family: 'Roboto', cursive;
}